html{min-width:320px;min-height:100%;background:#f9f9f9;font-size:50px}
body{position:relative;float:left;margin:0 auto;padding:0;width:7.5rem;max-width:100%;min-width:320px;font-family:'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif;word-break:break-all;-webkit-tatext-highlight-color:transparent}
b,button,dd,div,dl,dt,em,form,img,input,label,li,p,span,textarea,ul{float:left;margin:0;padding:0;border:0;list-style:none;font-style:normal}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:0;font-weight:400}
button,div,p{font-size:.24rem;line-height:.24rem}
a{outline:0;color:#333230;text-decoration:none;-webkit-tap-highlight-color:transparent}
option,select{outline:0;border:none;background:#fff;appearance:none;-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
#app,.page{position:relative;float:left;width:7.5rem}
.container{position:relative;float:left;margin:0 .35rem;width:6.8rem}
.fl{float:left!important}
.fr{float:right!important}
.fn{float:none!important}
.tal{text-align:left}
.tar{text-align:right}
.tac{text-align:center}
.fwb{font-weight:700}
.fs20{font-size:.2rem;line-height:.2rem}
.fs22{font-size:.22rem;line-height:.22rem}
.fs26{font-size:.26rem;line-height:.26rem}
.w100{width:100%}
.w50{width:50%}
.red{color:#ff7858!important}
.row{position:relative;width:6.8rem}
.tabbar{position:fixed;bottom:0;left:0;z-index:99;width:7.5rem;border-top:1px #e8e6e3 solid;background:#fff;text-align:center}
.tabbar ul{position:relative;padding:.1rem 0;width:100%}
.tabbar ul li{position:relative}
.tabbar ul li img{float:none;width:.5rem;height:.5rem}
.tabbar ul li p{width:100%}
.seachWrap{position:fixed;top:0;left:0;z-index:99;padding:.25rem .35rem .1rem .35rem;width:6.8rem;background:#fff}
.seachWrap .searchLeft,.seachWrap .searchRight{width:.75rem;height:.6rem;color:#888;font-size:.18rem}
.seachWrap img{margin:.04rem .1rem .04rem .1rem;width:.35rem;height:.3rem}
.seachWrap .seachInput{position:relative;width:5.3rem;height:.6rem;border-radius:.3rem;background:#f2f0ed}
.seachWrap .p{margin:0 0 0 .2rem;width:5.2rem;height:.6rem;background:0 0;color:#999590;font-size:.26rem;line-height:.6rem}
.seachWrap .searchIco{margin:.16rem 0 0 .2rem;width:.32rem;height:.32rem}
.seachWrap .speechIco{position:absolute;top:.1rem;right:.3rem;margin:0;width:.26rem;height:.4rem}
.swiper-container{width:6.8rem;height:1.9rem}
.fixed{position:fixed}
.mask{position:fixed;top:0;z-index:100;width:100%;height:100%;background:rgba(51,51,51,.4)}
.hide{display:none!important}
.show{display:block!important}
.getPhoneModal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:101;overflow:hidden;margin:auto;width:5rem;height:2.9rem;border-radius:.06rem;background:#fff}
.getPhoneModal .p{padding:.5rem .75rem .5rem .75rem;width:3.5rem;height:.9rem;color:#333230;font-size:.3rem;line-height:.45rem}
.getPhoneModal .btns{width:5rem;border-top:1rem solid #f0efed}
.getPhoneModal .close{width:2.5rem;height:1rem;border-right:.01rem solid #f0efed;background:#fff;color:#333230;text-align:center;font-size:.3rem;line-height:1rem}
.getPhoneModal .getPhone{margin:0;padding:0;width:2.5rem;height:1rem;background:#fff;color:#d1a265;text-align:center;font-size:.3rem;line-height:1rem}
.getPhoneModal .close::after,.getPhoneModal .getPhone::after{display:none}

.swiper-pagination.swiper-pagination-bullets{bottom:5px}
.swiper-pagination .swiper-pagination-bullet{float:none; width:.10rem;height:.10rem;border-radius: .05rem;margin:.05rem!important}
.swiper-pagination .swiper-pagination-bullet-active{width:.3rem;background:#fff}