.page{background:#fff}
.seachWrap .seachInput{width:100%!important}
.seachWrap .text{width:5.2rem}
.index{margin-top:1rem}
.banner{float:left;width:6.8rem;height:1.9rem}
.banner .swiper{width:6.8rem;height:1.9rem}
.banner .slide-image{width:6.8rem;height:1.9rem}
.button{float:left;margin-top:.2rem;width:6.8rem;height:1.12rem}
.button .btnBox{width:3.3rem;height:1.12rem;box-shadow:.01rem .01rem .03rem .01rem #eee}
.button .txtBox{margin:.24rem .24rem 0 .24rem;width:1.75rem}
.button .txtBox .tit{width:1.75rem;color:#333;font-size:.26rem;line-height:.3rem}
.button .txtBox .txt{margin-top:.08rem;width:1.75rem;color:#999590;font-size:.22rem;line-height:.26rem}
.button .btnIco{margin:.24rem .24rem .24rem 0;width:.64rem;height:.64rem;border-radius:.06rem;background:#aaa}
.indices{float:left;width:6.8rem}
.tiTle{margin:.35rem 0;color:#333230;font-size:.36rem}
.tiTle p{font-size:.36rem;line-height:.36rem}
.conTent{width:6.8rem}
.indices .ul{width:6.8rem}
.indices .ul .li{position:relative;display:flex;width:2.06rem;height:1.68rem;background:#fcf3e6;justify-content:center;flex-direction:column;align-items:center}
.indices .ul .li p{float:left;overflow:hidden;text-align:center}
.indices .ul .li:nth-child(2){margin:0 .28rem}
.indices .ul .li .r1{margin:-.01rem 0 0 0;padding:.02rem 0 0 0;width:100%;color:#333230;font-size:.26rem;line-height:.26rem}
.indices .ul .li .r2{margin:.12rem 0;width:100%;font-size:.36rem;line-height:.36rem}
.indices .ul .li .r3{bottom:.25rem;margin:0 .43rem;padding:.06rem;width:1.08rem;line-height:.24rem}
.indices .ul .li.rise{color:#ff7858}
.indices .ul .li.fall{color:#00c087}
.indices .ul .li.rise .r3{background:#fdd8c7}
.indices .ul .li.fall .r3{background:#c5e8d1}
.rank{float:left;margin-top:.5rem;width:6.8rem}
.rank .rankTab{width:6.8rem;height:.54rem}
.rank .tab{margin-right:.48rem;padding:.06rem 0 .12rem 0;color:#888;font-size:.36rem;line-height:.36rem}
.rank .tab.on{background:linear-gradient(to bottom,#fff 0,#fff 50%,#fdd6a3 66.67%,#e9be85 100%);color:#333230;font-size:.36rem}
.rank .seeMore{color:#999590;line-height:.54rem}
.rank .rankItem{margin:.3rem 0 1.2rem 0;width:6.8rem}