.banner{position:relative;float:left;width:7.5rem;height:4.65rem}
.banner .swiper{width:7.5rem;height:4.65rem}
.banner .swiper .swiper-slide{background-color:#101710}
.banner .swiper .swiper-slide .slide-image{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:auto;height:auto;max-width:7.5rem;max-height:4.65rem}
.noImage{position:absolute;width:7.5rem;height:4.65rem}
.item{position:relative;padding-bottom:1rem;width:7.5rem}
.item .wrap{margin-bottom:.125rem;padding:.3rem .35rem;width:6.8rem;background:#fff}
.bid{margin:.09rem .1rem 0 0;background:linear-gradient(to bottom,#fff 0,#fff 50%,#fdd6a3 75%,#e9be85 100%);color:#333230}
.item .price{color:#ff7858;font-size:.3rem;line-height:.4rem}
.item .price .cny{padding:.04rem .04rem 0 0;font-size:.24rem}
.item .price .int{padding:.08rem 0 0 0;font-size:.4rem}
.item .price .float{padding:.1rem .04rem 0 0;font-size:.28rem}
.item .price .unit{padding:.1rem 0 0 0;font-weight:400}
.item .subt{margin:.06rem 0 0 .25rem;color:#999590;line-height:.4rem}
.item .titLe{overflow:hidden;width:6rem;max-height:.96rem;font-size:.32rem;line-height:.48rem}
.item img.type.buy{width:1.05rem}
.item img.type{margin:.07rem .18rem 0 0;width:.63rem;height:.34rem}
.item .share{position:absolute;right:0;z-index:9;overflow:visible;padding:0;width:.5rem;background:0 0;color:#999590;text-align:center}
.item .share .hline{position:absolute;top:.22rem;left:-.18rem;width:.01rem;height:.3rem;background:#eee}
.item.sale .share{top:-.3rem}
.item .share::after{display:none}
.item .share .ico{padding:.09rem;width:.32rem;height:.32rem}
.item .desc{overflow:hidden;width:6.8rem;max-height:.88rem;min-height:.44rem;line-height:.44rem}
.item .desc.on{overflow:visible;max-height:none}
.item .wline{margin:.3rem -.35rem;width:7.5rem;border-top:1px solid #f6f4f1}
.item .tit,.txt{font-size:.26rem;line-height:.4rem}
.item .tit{width:1.4rem;height:.4rem;color:#999590}
.item .txt{color:#333230}
.item img.avatar{width:.68rem;height:.68rem;border-radius:.34rem}
.item .usrInfo{width:5.9rem}
.item .usrInfo .name{line-height:.3rem}
.item .date{margin-top:.125rem;width:5.9rem;color:#999590}
.item .wrap .title{padding-bottom:.3rem;width:6.8rem;border-bottom:.01rem solid #f6f4f1}
.item .wrap .comment{margin-top:.2rem;width:6.8rem}
.item .wrap .comment .avatar{margin:.1rem 0;width:.44rem;height:.44rem}
.item .wrap .comment .text{width:6.2rem;color:#333230}
.item .wrap .comment .name,.wrap .comment .body,.wrap .comment .date{width:6.2rem}
.item .wrap .comment .name{margin-top:.075rem}
.item .wrap .comment .date{margin-top:.1rem}
.item .wrap .comment .body{margin-top:.15rem;line-height:.26rem}
.item .wrap .comment .reply{margin-top:.25rem;padding:.2rem;width:5.8rem;background:#f6f4f1}
.item .wrap .comment .reply .name{margin:0;width:5.8rem;color:#d1984e}
.item .wrap .comment .reply .body{width:5.8rem;color:#999590}
.botBtns{position:fixed;bottom:0;left:0;z-index:99;width:100%;height:1rem;text-align:center}
.botBtns .btn{border-top:.01rem solid #d7a666;border-radius:0;background:#d7a666;color:#fff;font-size:.3rem;line-height:.99rem}
.botBtns .btn.disabled{border-color:#e6e4e1!important;background:#e6e4e1!important;color:#999590!important}
.botBtns .submit{width:100%}
.botBtns .edit,.botBtns .shelf{width:50%}
.botBtns .shelf{border-color:#e6e4e1;background:#fff;color:#999590}
button::after{display:none}